.choice-enter {
  opacity: 0;
}
.choice-enter-active {
  opacity: 1;
  transform: translate(0px, -50px);
  transition: opacity 500ms transform 500ms;
}
.choice-enter-done {
  transform: translate(0px, -50px);
}
.choice-exit {
  opacity: 1;
}
.choice-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.dropdown-card {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.2) !important;
  margin-bottom: 2rem !important;
}

data-grid--header {
  background-color:sandybrown;
}
